/* =========== function area =========== */
.function_area .flex {
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.function_area .flex {
    width: 100%;
}

.function_area .container {
    padding: 0px;
}


.function_bar {
    width: 100%;

}

.navbar {
    display: flex;
    font-size: 15px;
}

.navbar_icon {
    margin: 0 0.3rem;
    padding: 0 0.5rem;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
}

.navbar_icon i {
    margin: 0 0.3rem;
}

.navbar_icon .navbar_dropdown {
    display: none;
    position: absolute;
    top: 120%;
    left: 0;
    width: 120%;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
}

.navbar_dropdown_item div {
    padding: 5% 10%;
}

/* =========== mobile menu====================*/

.mobile_menu {
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
}

.mobile_header {
    width: 100%;
    z-index: 1100;
}

.mobile_header .flex {
    height: 10vh;
    align-items: center;
    z-index: 1100;
}

.mobile_action {
    justify-content: space-between;
}


.mobile_menu_bg {
    width: 100%;
    height: 90vh;
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 1000;
}

.mobile_menu_group {
    max-width: 320px;
    height: 90vh;
    z-index: 1100;
}

.mobile_menu_group::after {
    content: "";
    width: 100%;
    height: 15vh;
    display: block;
}

.mobile_menu_item {
    padding: 0.5rem 8%;
    font-size: 15px;
}

.mobile_dropdown i {
    font-size: 15px;
    position: absolute;
    right: 5%;
    padding-right: 5%;
}

.mobile_dropdown_items {
    display: none;
    padding-top: 0.5rem;
}

/* ========== search model =============== */

.search_model {
    width: 40%;
    height: 7vh;
    position: fixed;
    top: 2vh;
    right: 1%;
    /* padding: 0 2%; */
    border-radius: 5px;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.search_box {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.search_box i {
    cursor: pointer;
    width: calc(100%/10)
}

.search_btn {
    margin: 0 3%;
}

.search_close {
    /* text-align: center; */
    /* width: 10%; */
    margin:0 3%;
    padding-right: 2%;
}

/* ========== fixed menu=================== */

.fixed_menu {
    z-index: 500;
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
}

.fixed_btn {
    margin: 3px 0;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}

#shopping_car {
    position: relative;
}

#shopping_car .shopping_car_count {
    position: absolute;
    right: -15%;
    top: -15%;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    font-size: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* ======= body ============== */

.body {
    height: fit-content;
    position: relative;
}

.body .container {
    position: relative;
}

.body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10vh;
    bottom: -10vh;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}


/* footer */

.footer {
    width: 100%;
    height: fit-content;
    position: relative;

    font-size: 15px;
}

.footer_main {
    padding: 10vh 0 3vh;
}

.footer_logo_side {
    width: 30%;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-evenly;
    flex-direction: column;
}

.footer_logo {
    margin: 5vh 0;
}

.footer_content {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.footer_fastLink {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 10vh 0 5vh;
}

.footer_fastLink a {
    width: calc(100%/3);
    margin: 0.5% 0;
}

.footer_fastLink a:hover {
    text-decoration: underline;
}

.footer_icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 12%;
}

.footer_icons img {
    margin-bottom: 10px;
    padding: 0 15px;
}

.copyright {
    font-size: 12px;
    width: 100%;
    height: 15vh;
}

.copyright .flex {
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}