/* init */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: unset;
}

article,
section,
aside,
address,
nav,
header,
footer,
img {
    display: block;
}

img {
    border: none;
}

li {
    list-style: none;
}

button {
    all: unset;
    cursor: pointer;
    height: fit-content;
}

input {
    margin-right: 2px;
    padding: 10px 20px;
    width: 100%;
    background-color: #fcfcfc;
    border: 1px solid #00000033;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: #333;
}

input:focus {
    -webkit-box-shadow: 0 0 2px 1px black;
    -moz-box-shadow: 0 0 2px 1px black;
    box-shadow: 0 0 2px 1px black;
    border: 1px solid black;
}


/* public */

.circleMask {
    clip-path: circle(50%);
}

.element {
    padding-top: 10vh;
    max-width: 1200px;
    margin: 0px 0px;
    padding: 0px 0px;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex {
    display: flex;
}

.header {
    width: 100%;
    height: 10vh;
}

.modal_bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.modal_title {
    margin-bottom: 2.5vmin;
}

.body section {
    padding-bottom: 10vh;
}

/* =========== function area =========== */

.function_area .flex {
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.function_area .flex {
    width: 100%;
}

.function_area .container {
    padding: 0px;
}


.function_bar {
    width: 100%;

}

.navbar {
    display: flex;
    font-size: 15px;
}

.navbar_icon {
    margin: 0 0.3rem;
    padding: 0 0.5rem;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
}

.navbar_icon i {
    margin: 0 0.3rem;
}

.navbar_icon .navbar_dropdown {
    display: none;
    position: absolute;
    top: 120%;
    left: 0;
    width: 120%;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
}

.navbar_dropdown_item div {
    padding: 5% 10%;
}

/* =========== mobile menu====================*/

.mobile_menu {
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
}

.mobile_header {
    width: 100%;
    z-index: 1100;
}

.mobile_header .flex {
    height: 10vh;
    align-items: center;
    z-index: 1100;
}

.mobile_action {
    justify-content: space-between;
}


.mobile_menu_bg {
    width: 100%;
    height: 90vh;
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 1000;
}

.mobile_menu_group {
    max-width: 320px;
    height: 90vh;
    z-index: 1100;
}

.mobile_menu_group::after {
    content: "";
    width: 100%;
    height: 15vh;
    display: block;
}

.mobile_menu_item {
    padding: 0.5rem 8%;
    font-size: 15px;
}

.mobile_dropdown i {
    font-size: 15px;
    position: absolute;
    right: 5%;
    padding-right: 5%;
}

.mobile_dropdown_items {
    display: none;
    padding-top: 0.5rem;
}

/* ========== search model =============== */

.search_model {
    width: 40%;
    height: 7vh;
    position: fixed;
    top: 2vh;
    right: 0;
    padding: 0 2%;
    border-radius: 5px;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.search_box {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.search_box i {
    cursor: pointer;
    width: calc(100%/10)
}

.search_close {
    text-align: center;
    width: 10%;
    margin-left: 2%;
}


/* ========== fixed menu=================== */

.fixed_menu {
    z-index: 500;
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
}

.fixed_btn {
    margin: 3px 0;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}

#shopping_car {
    position: relative;
}

#shopping_car .shopping_car_count {
    position: absolute;
    right: -15%;
    top: -15%;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    font-size: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* =========== main page ==================*/

.main_page {
    width: 100%;
    position: relative;
    height: 85vh;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}

.main_page_background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.main_page_background img {}

.main_page_content {
    height: 85%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.main_title {
    align-items: center;
    flex-direction: column;
    max-width: 700px;
    margin-top: 10vh;
    margin-bottom: 8vh;
}

.main_title img {
    transform: scale(130%);
}

.main_subtitle {
    max-width: 800px;
    text-align: center;
    font-size: 13px;
    margin-bottom: 5vh;
}

.main_wrap_group {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 999;
}

.main_wrap {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.main_wrap:hover .wrap_dropdown {
    display: block;
}

.main_wrap_btn {
    font-size: 15px;
    margin: 0.5%;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    border-bottom: solid 1px;
    white-space: nowrap;
    cursor: pointer;
}

.main_wrap_btn i {
    padding: 5px 2px;
}

.wrap_dropdown {
    display: none;
    width: 180%;
    position: absolute;
    z-index: 1;
    transform: translateX(-25%);
    font-size: 15px;
}

.wrap_dropdown div {
    padding: 3% 9%;
}

.keep_read_btn {
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    z-index: 100;
}

.keep_read_btn a {
    z-index: 10;
    width: 45px;
    height: 45px;

    /* border */
    border: solid;
    text-align: center;
    border-radius: 50%;


    /* text */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.main_footer {
    position: absolute;
    z-index: 1;
    bottom: -5px;
    width: 100%;
    height: 10vh;
    background-image: url('../Images/border.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* old border style 
.main_page::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3%;
    bottom: -2%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
} */


/* ======= carousel ========== */

.carousel {
    opacity: 0;
    width: 100%;
    height: 75vh;
    margin-bottom: 10vh;
    border: 10px;
}

.carousel>ul {
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    /* transition-delay: 200ms; */
}

.slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-btn {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.carousel-btn.prev {
    left: 1rem;
}

.carousel-btn.next {
    right: 1rem;
}

/* ======= body ============== */

.body {
    height: fit-content;
    position: relative;
}

.body .container {
    position: relative;
}

.body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10vh;
    bottom: -10vh;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}


/* ======== service ===========  */

.service {
    width: 100%;
    height: fit-content;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.service_title {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 5%;
}

/* title */
.service_title h1 {
    font-family: 'NotoSerifTC Black';
    font-size: 28px;
    font-weight: 1000;
}

/* subtitle */
.service_title p {
    font-family: 'NotoSerifTC Medium';
    font-size: 18px;
}

.service_group {
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
}

.service_item {
    display: flex;
    align-items: center;
    flex-direction: column;

    /* init */
    opacity: 0;
}

.service_img {
    width: 170px;
    height: 170px;
    clip-path: circle(50%);
}

.service_img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* title */
.service_item h1 {
    font-family: 'NotoSerifTC Black';
    padding-top: 5%;
    font-size: 25px;
}

/* subtitle */
.service_item p {
    padding: 5% 2%;
    font-size: 15px;
    font-family: 'NotoSerifTC Medium';
}

/* ======= product ========== */

.product {
    width: 100%;
    height: fit-content;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10vh;
}

.product_title {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 5%;
}

/* title */
.product_title h1 {
    font-family: 'NotoSerifTC Bold';
    font-size: 35px;
    font-weight: 1000;
}

/* subtitle */
.product_title p {
    font-family: 'NotoSerifTC Medium';
    font-size: 18px;
}

.product_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 10vh;
}

.product_item {
    width: calc(100%/3);
    height: fit-content;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 2% 0;
}

.product_container {
    margin: 0 auto;
}

.product_img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.product_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product_item_content {
    display: flex;
    justify-content: space-between;
}

.product_item_content .product_item_text,
.product_item_content .product_price {
    width: calc(100%/2);
}

.product_price {
    text-align: right;
}

.product_price .price {
    /* font-family: 'NotoSerifTC Black'; */
    font-size: 25px;
    font-weight: 1000;
}

.product_price .onSale {
    font-size: 15px;
    font-family: 'NotoSerifTC Medium';
}

.onSale {
    text-decoration-line: line-through;
    text-decoration-thickness: 1.5px;
}

.product_price h1::before,
.product_price p::before {
    content: "$ ";
}

.product_item_text {
    display: flex;
    flex-direction: column;
}

.product_item_text h1 {
    /* font-family: 'NotoSerifTC Black'; */
    font-size: 25px;
    font-weight: 1000;
}

.product_item_text p {
    /* padding: 5% 2%; */
    font-size: 15PX;
    font-family: 'NotoSerifTC Medium';
}

.more_btn {
    border: solid black 3px;
    padding: 1.3% 2.5%;
    border-radius: 10px;
}

.more_btn:hover {
    text-decoration-line: underline;
}


/* ======= map ============== */
.map {
    border: 0px;
    width: 100%;
    height: 80vh;
    border-radius: 20px;
}



/* ======= footer ============= */

.footer {
    width: 100%;
    height: fit-content;
    position: relative;

    font-size: 15px;
}

.footer_main {
    padding: 10vh 0 3vh;
}

.footer_logo_side {
    width: 30%;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-evenly;
    flex-direction: column;
}

.footer_logo {
    margin: 5vh 0;
}

.footer_content {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.footer_fastLink {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10vh 0 5vh;
}

.fastLink_row {
    width: calc(100%/3);
}

.fastLink_row div {
    padding: 5px 0;
}

.fastLink_row a:hover {
    text-decoration: underline;
}

.footer_icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 12%;
}

.footer_icons img {
    margin-bottom: 10px;
    padding: 0 15px;
}

.copyright {
    font-size: 12px;
    width: 100%;
    height: 15vh;
}

.copyright .flex {
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}