/* header control ( pc or mobile )*/
@media (min-width:991px) {
    .mobile_menu {
        display: none;
    }
}
@media (max-width:991px) {
    .function_area {
        display: none;
    }
    #fixed_search {
        display: none;
    }
}

/* footer rounded control */
@media (max-width:550px) {
    .main_footer {
        display: none;
    }
    .body::after {
        display: none;
    }
    .footer_logo_side {
        margin-top: 0 !important;
    }
}

/* fixed menu */

@media (max-width:680px) {
    .fixed_btn {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    #shopping_car .shopping_car_count {
        width: 20px;
        height: 20px;
        font-size: 13px;
    }
}

/* search_btn */

@media (max-width:990px) {
    .search_model {
        padding: 0 2%;
        width: 60%;
        right: 2%;
        top: 12vh;
        box-shadow: unset;
    }
}

@media (max-width:450px) {
    .search_model {
        width: 90% !important;
    }
}

/* footer */

@media (max-width:500px) {
    .footer_fastLink {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-content: center;
    }
    .footer_fastLink a {
        width: calc(100%/2);
    }
}
@media (max-width:900px) {
    .footer_main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_logo_side {
        margin-top: 10vh
    }

    .footer_content {
        width: 100%;
    }

    .footer_icons {
        margin: 0 0;
    }
}


