<article class="article-column col-md-9 col-md-push-3">
    <a name="target_article" id="target_article"></a>
    <h2 class="page-title">討論區1zz </h2>
    <!-- <script language="JavaScript" type="text/JavaScript">
function MM_jumpMenu(targ,selObj,restore){ //v3.0
eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
if (restore) selObj.selectedIndex=0;
}
    </script> -->
    <div class="col-all">

        <div class="col-group">
            本站為避免無關廣告或惡意攻擊他人的言論，本站保留刪除文章之權益。2aaaaa</div>
        <div class="col-group">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td class="left">
                            <input type="button" name="gotomain_view" class="btn btn-color" value="發表主題"
                                onclick="location='main_new.php'">
                        </td>
                        <td class="right">
                            <form name="sch" method="get" action="/a0001/talk/main.php">
                                <table border="0" align="right" cellpadding="2" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td><select name="search" size="1">
                                                    <option value="1" selected="">主題</option>
                                                    <option value="2">發表人</option>
                                                    <option value="3">內容</option>
                                                </select></td>
                                            <td><input type="text" name="word" placeholder="關鍵字" class="form-control">
                                            </td>
                                            <td><input type="submit" name="formsubmit" value="搜尋" class="btn btn-color">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>



        <div class="table-wrapper">


            <table class="footable default no-paging footable-loaded" data-page-size="10">
                <thead>
                    <tr>
                        <th class="footable-visible footable-first-column footable-sortable">主題<span
                                class="footable-sort-indicator"></span></th>
                        <th data-hide="sphone,phone,tablet"
                            class="footable-visible footable-sortable footable-sorted-desc">發表人<span
                                class="footable-sort-indicator"></span></th>
                        <th class="footable-visible footable-sortable">回應<span class="footable-sort-indicator"></span>
                        </th>
                        <th class="footable-visible footable-last-column footable-sortable">點閱 <span
                                class="footable-sort-indicator"></span></th>
                    </tr>
                </thead>
                <tbody>





                    <tr class="bottom-line2" style="display: table-row;">

                        <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a
                                href="main_view.php?t=3423&amp;topage=" class="color1 big b">討論區主題範例</a>
                            <div class="small">日期:2016/07/01</div>
                        </td>
                        <td class="footable-visible">發表人姓名範例</td>
                        <td class="b big color2 footable-visible">0</td>
                        <td class="b big color3 footable-visible footable-last-column">165 </td>

                    </tr>
                    <tr class="bottom-line2" style="display: table-row;">

                        <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a
                                href="main_view.php?t=3419&amp;topage=" class="color1 big b">zzz</a>
                            <div class="small">日期:2015/07/03</div>
                        </td>
                        <td class="footable-visible">zzz</td>
                        <td class="b big color2 footable-visible">2</td>
                        <td class="b big color3 footable-visible footable-last-column">212 </td>

                    </tr>
                    <tr class="bottom-line2" style="display: table-row;">

                        <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a
                                href="main_view.php?t=3422&amp;topage=" class="color1 big b">11111</a>
                            <div class="small">日期:2016/07/01</div>
                        </td>
                        <td class="footable-visible">22222</td>
                        <td class="b big color2 footable-visible">0</td>
                        <td class="b big color3 footable-visible footable-last-column">152 </td>

                    </tr>
                    <tr class="bottom-line2" style="display: table-row;">

                        <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a
                                href="main_view.php?t=3421&amp;topage=" class="color1 big b">1111</a>
                            <div class="small">日期:2016/07/01</div>
                        </td>
                        <td class="footable-visible">2222</td>
                        <td class="b big color2 footable-visible">1</td>
                        <td class="b big color3 footable-visible footable-last-column">143 </td>

                    </tr>
                    <tr class="bottom-line2" style="display: table-row;">

                        <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><a
                                href="main_view.php?t=3420&amp;topage=" class="color1 big b">111</a>
                            <div class="small">日期:2016/07/01</div>
                        </td>
                        <td class="footable-visible">222</td>
                        <td class="b big color2 footable-visible">0</td>
                        <td class="b big color3 footable-visible footable-last-column">158 </td>

                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="footable-visible">
                            <div class="pagination pagination-centered">
                                <ul>
                                    <li class="footable-page-arrow disabled"><a data-page="first"
                                            href="#first">&lt;&lt;</a></li>
                                    <li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">&lt;</a>
                                    </li>
                                    <li class="footable-page active"><a data-page="0" href="#">1</a></li>
                                    <li class="footable-page-arrow disabled"><a data-page="next" href="#next">&gt;</a>
                                    </li>
                                    <li class="footable-page-arrow disabled"><a data-page="last"
                                            href="#last">&gt;&gt;</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>


    </div><!--col-all結尾-->

</article>