<article class="article-column col-md-9 col-md-push-3">
    <a name="target_article" id="target_article"></a>
    <h2 class="page-title">活動花絮 </h2>
    <div class="col-all">
        <a name="album_start" id="album_start"></a>
        <div class="col-row">
            <div class="album-single n176-line">
                <div class="img-thumbnail">
                    <div class="album-one-id"
                        style="width: 240px; height: 240px; overflow: hidden; margin-left: auto; margin-right: auto; display: table-cell;">
                        <a href="main_view.php?id=176&amp;frompage=1#album_start"><img width="436" height="290"
                                style="margin: 0px; max-width: 240px; max-height: 240px; width: auto; height: auto;"
                                src="https://img.okweb.asia/a0001/images/album/n__14756620092.jpg" border="0"
                                title="111111111"></a></div>
                </div>
                <span class="album-subhead">11111111</span>
            </div>
            <div class="album-single n175-line">
                <div class="img-thumbnail">
                    <div class="album-one-id"
                        style="width: 240px; height: 240px; overflow: hidden; margin-left: auto; margin-right: auto; display: table-cell;">
                        <a href="main_view.php?id=175&amp;frompage=1#album_start"><img width="436" height="290"
                                style="margin: 0px; max-width: 240px; max-height: 240px; width: auto; height: auto;"
                                src="https://img.okweb.asia/a0001/images/album/n__14756277690.jpg" border="0"
                                title="fsdfsdfd"></a></div>
                </div>
                <span class="album-subhead">fsdfsd</span>
            </div>





            <div class="album-single n174-line">
                <div class="img-thumbnail">
                    <div class="album-one-id"
                        style="width: 240px; height: 240px; overflow: hidden; margin-left: auto; margin-right: auto; display: table-cell;">
                        <a href="main_view.php?id=174&amp;frompage=1#album_start"><img width="746" height="290"
                                style="margin: 0px; max-width: 240px; max-height: 240px; width: auto; height: auto;"
                                src="https://img.okweb.asia/a0001/images/album/n__13999691516.jpg" border="0"
                                title="sdfsdfsdfdsfzzz"></a></div>
                </div>
                <span class="album-subhead">fsdfsdfzzz</span>
            </div>





            <div class="album-single n173-line">
                <div class="img-thumbnail">
                    <div class="album-one-id"
                        style="width: 240px; height: 240px; overflow: hidden; margin-left: auto; margin-right: auto; display: table-cell;">
                        <a href="main_view.php?id=173&amp;frompage=1#album_start"><img width="436" height="290"
                                style="margin: 0px; max-width: 240px; max-height: 240px; width: auto; height: auto;"
                                src="https://img.okweb.asia/a0001/images/album/album_173.jpg" border="0"
                                title="bbb"></a></div>
                </div>
                <span class="album-subhead">aaa</span>
            </div>





            <div class="album-single n172-line">
                <div class="img-thumbnail">
                    <div class="album-one-id"
                        style="width: 240px; height: 240px; overflow: hidden; margin-left: auto; margin-right: auto; display: table-cell;">
                        <a href="main_view.php?id=172&amp;frompage=1#album_start"><img width="290" height="387"
                                style="margin: 0px; max-width: 240px; max-height: 240px; width: auto; height: auto;"
                                src="https://img.okweb.asia/a0001/images/album/album_172.jpg" border="0"
                                title="bbb"></a></div>
                </div>
                <span class="album-subhead">aaa</span>
            </div>





            <div class="album-single n171-line">
                <div class="img-thumbnail">
                    <div class="album-one-id"
                        style="width: 240px; height: 240px; overflow: hidden; margin-left: auto; margin-right: auto; display: table-cell;">
                        <a href="main_view.php?id=171&amp;frompage=1#album_start"><img width="387" height="290"
                                style="margin: 0px; max-width: 240px; max-height: 240px; width: auto; height: auto;"
                                src="https://img.okweb.asia/a0001/images/album/album_171.jpg" border="0" title=""></a>
                    </div>
                </div>
                <span class="album-subhead">101010</span>
            </div>





            <div class="album-single n170-line">
                <div class="img-thumbnail">
                    <div class="album-one-id"
                        style="width: 240px; height: 240px; overflow: hidden; margin-left: auto; margin-right: auto; display: table-cell;">
                        <a href="main_view.php?id=170&amp;frompage=1#album_start"><img
                                src="https://img.okweb.asia/images/no-cover.jpg" border="0"
                                style="max-width: 240px; max-height: 240px; margin: 0px; width: auto; height: auto;"></a>
                    </div>
                </div>
                <span class="album-subhead">99999</span>
            </div>





            <div class="album-single n169-line">
                <div class="img-thumbnail">
                    <div class="album-one-id"
                        style="width: 240px; height: 240px; overflow: hidden; margin-left: auto; margin-right: auto; display: table-cell;">
                        <a href="main_view.php?id=169&amp;frompage=1#album_start"><img width="436" height="290"
                                style="margin: 0px; max-width: 240px; max-height: 240px; width: auto; height: auto;"
                                src="https://img.okweb.asia/a0001/images/album/album_169.jpg" border="0" title=""></a>
                    </div>
                </div>
                <span class="album-subhead">888888</span>
            </div>





            <div class="album-single n168-line">
                <div class="img-thumbnail">
                    <div class="album-one-id"
                        style="width: 240px; height: 240px; overflow: hidden; margin-left: auto; margin-right: auto; display: table-cell;">
                        <a href="main_view.php?id=168&amp;frompage=1#album_start"><img width="438" height="290"
                                style="margin: 0px; max-width: 240px; max-height: 240px; width: auto; height: auto;"
                                src="https://img.okweb.asia/a0001/images/album/album_168.jpg" border="0" title=""></a>
                    </div>
                </div>
                <span class="album-subhead">因為目前郵件主機是採用Google的系統,若變動此帳號的密碼~</span>
            </div>





            <div class="album-single n167-line">
                <div class="img-thumbnail">
                    <div class="album-one-id"
                        style="width: 240px; height: 240px; overflow: hidden; margin-left: auto; margin-right: auto; display: table-cell;">
                        <a href="main_view.php?id=167&amp;frompage=1#album_start"><img width="387" height="290"
                                style="margin: 0px; max-width: 240px; max-height: 240px; width: auto; height: auto;"
                                src="https://img.okweb.asia/a0001/images/album/n__13884519426.jpg" border="0" title="相簿簡述
相簿簡述相簿簡述相簿簡述相簿簡述相簿簡述相簿簡述相簿簡述相簿簡述相簿簡述"></a></div>
                </div>
                <span class="album-subhead">aaaa</span>
            </div>





            <div class="album-single n166-line">
                <div class="img-thumbnail">
                    <div class="album-one-id"
                        style="width: 240px; height: 240px; overflow: hidden; margin-left: auto; margin-right: auto; display: table-cell;">
                        <a href="main_view.php?id=166&amp;frompage=1#album_start"><img
                                src="https://img.okweb.asia/images/no-cover.jpg" border="0"
                                style="max-width: 240px; max-height: 240px; margin: 0px; width: auto; height: auto;"></a>
                    </div>
                </div>
                <span class="album-subhead">5555</span>
            </div>





            <div class="album-single n165-line">
                <div class="img-thumbnail">
                    <div class="album-one-id"
                        style="width: 240px; height: 240px; overflow: hidden; margin-left: auto; margin-right: auto; display: table-cell;">
                        <a href="main_view.php?id=165&amp;frompage=1#album_start"><img
                                src="https://img.okweb.asia/images/no-cover.jpg" border="0"
                                style="max-width: 240px; max-height: 240px; margin: 0px; width: auto; height: auto;"></a>
                    </div>
                </div>
                <span class="album-subhead">44444d</span>
            </div>





            <div class="album-single n164-line">
                <div class="img-thumbnail">
                    <div class="album-one-id"
                        style="width: 240px; height: 240px; overflow: hidden; margin-left: auto; margin-right: auto; display: table-cell;">
                        <a href="main_view.php?id=164&amp;frompage=1#album_start"><img width="577" height="290"
                                style="margin: 0px; max-width: 240px; max-height: 240px; width: auto; height: auto;"
                                src="https://img.okweb.asia/a0001/images/album/n__13882249532.jpg" border="0"
                                title=""></a></div>
                </div>
                <span class="album-subhead">333</span>
            </div>





            <div class="album-single n163-line">
                <div class="img-thumbnail">
                    <div class="album-one-id"
                        style="width: 240px; height: 240px; overflow: hidden; margin-left: auto; margin-right: auto; display: table-cell;">
                        <a href="main_view.php?id=163&amp;frompage=1#album_start"><img width="436" height="290"
                                style="margin: 0px; max-width: 240px; max-height: 240px; width: auto; height: auto;"
                                src="https://img.okweb.asia/a0001/images/album/n__13882249127.jpg" border="0"
                                title=""></a></div>
                </div>
                <span class="album-subhead">相簿2</span>
            </div>





            <div class="album-single n162-line">
                <div class="img-thumbnail">
                    <div class="album-one-id"
                        style="width: 240px; height: 240px; overflow: hidden; margin-left: auto; margin-right: auto; display: table-cell;">
                        <a href="main_view.php?id=162&amp;frompage=1#album_start"><img
                                src="https://img.okweb.asia/images/no-cover.jpg" border="0"
                                style="max-width: 240px; max-height: 240px; margin: 0px; width: auto; height: auto;"></a>
                    </div>
                </div>
                <span class="album-subhead">相簿名稱</span>
            </div>




            <div class="clearfloat"></div>
        </div><!--/col-row-->





    </div><!--col-all結尾-->

</article>