<article class="article-column col-md-9 col-md-push-3">
    <a name="target_article" id="target_article"></a>
    <h2 class="page-title">關於我們 </h2>
    <div class="col-all intro-one-set-line">
        <a name="305" id="305"></a>
        <div>
            <h3 class="stitle dropdown-lang" style="float:left;"><a href="#"
                    class="language_select_btn dropdown-toggle-lang" style="text-decoration: none;display: block;"
                    data-toggle="dropdown">ddddd<span class="caret-lang"></span></a>
                <ul class="dropdown-menu-lang">
                    <li><a href="main.php?iid=122&amp;mt=1">hhhhhh</a></li>
                    <li><a href="main.php?iid=121&amp;mt=1">ggggg</a></li>
                    <li><a href="main.php?iid=120&amp;mt=1">ffff</a></li>
                    <li><a href="main.php?iid=119&amp;mt=1">eeee</a></li>
                    <li style=" background-color:#E9E9E9;"><a href="main.php?iid=118&amp;mt=1">ddddd</a></li>
                    <li><a href="main.php?iid=117&amp;mt=1">cccccc</a></li>
                    <li><a href="main.php?iid=116&amp;mt=1">bbbbb</a></li>
                    <li><a href="main.php?iid=115&amp;mt=1">aaaaaaaaaaa</a></li>
                    <li><a href="main.php?iid=114&amp;mt=1">fsdfsdf</a></li>
                    <li><a href="main.php?iid=113&amp;mt=1">test</a></li>
                    <li><a href="main.php?iid=112&amp;mt=1">eee</a></li>
                    <li><a href="main.php?iid=111&amp;mt=1">dd</a></li>
                    <li><a href="main.php?iid=110&amp;mt=1">cccc</a></li>
                    <li><a href="main.php?iid=109&amp;mt=1">bbbbbb</a></li>
                    <li><a href="main.php?iid=108&amp;mt=1">fsdfaaaabbbb</a></li>
                    <li><a href="main.php?iid=107&amp;mt=1">再測title</a></li>
                    <li><a href="main.php?iid=106&amp;mt=1">2222</a></li>
                    <li><a href="main.php?iid=105&amp;mt=1">測試一下</a></li>
                    <li><a href="main.php?iid=104&amp;mt=1">uuu</a></li>
                    <li><a href="main.php?iid=103&amp;mt=1">tttt</a></li>
                    <li><a href="main.php?iid=102&amp;mt=1">gggggg</a></li>
                    <li><a href="main.php?iid=101&amp;mt=1">主題</a></li>
                    <li><a href="main.php?iid=100&amp;mt=1">e</a></li>
                    <li><a href="main.php?iid=99&amp;mt=1">cdcd</a></li>
                    <li><a href="main.php?iid=98&amp;mt=1">fdsfdsfa</a></li>
                    <li><a href="main.php?iid=95&amp;mt=1">6666</a></li>
                    <li><a href="main.php?iid=94&amp;mt=1">vvvvvvvvdsfds</a></li>
                    <li><a href="main.php?iid=93&amp;mt=1">jjjj</a></li>
                    <li><a href="main.php?iid=92&amp;mt=1">dddda</a></li>
                    <li><a href="main.php?iid=70&amp;mt=1">雲端技術平台</a></li>
                    <li><a href="main.php?iid=78&amp;mt=1">功能免費更新</a></li>
                    <li><a href="main.php?iid=77&amp;mt=1">即時修改維護</a></li>
                    <li><a href="main.php?iid=76&amp;mt=1">類專案架構</a></li>
                    <li><a href="main.php?iid=75&amp;mt=1">快速配色</a></li>
                    <li><a href="main.php?iid=74&amp;mt=1">功能模組化</a></li>
                    <li><a href="main.php?iid=68&amp;mt=1">架站與上線皆快</a></li>
                    <li><a href="main.php?iid=67&amp;mt=1">最高功能價格比</a></li>
                    <li><a href="main.php?iid=66&amp;mt=1">版型截然不同</a></li>
                </ul>
            </h3>
            <div class="p-page-back" style="float:right; margin:4px 0px 15px 2px;">
                <a href="javascript:history.back(0)">回上頁</a>
            </div>
        </div>


        <div style=" clear:both;display:block; " class="nn"><span class="glyphicon glyphicon-eye-open"
                title="瀏覽人次"></span> 瀏覽人次：195</div>
        <div name="intro_text" id="editable" style="width:100%">
            <p>dddd</p>
        </div>
        <div class="pushSociable">
            <span class="fb-like fb_iframe_widget"
                style="width:auto !important; display:inline-block !important; vertical-align: top !important;  line-height: 1 !important; margin:0 5px 7px -8px; padding:0;"
                data-href="http://ae1.okweb.asia/a0001/about/main.php?iid=118&amp;mt=1" data-layout="button"
                data-size="large" data-action="like" data-show-faces="false" data-share="true" fb-xfbml-state="rendered"
                fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=0&amp;href=http%3A%2F%2Fae1.okweb.asia%2Fa0001%2Fabout%2Fmain.php%3Fiid%3D118%26mt%3D1&amp;layout=button&amp;locale=zh_TW&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=large"><span
                    style="vertical-align: bottom; width: 138px; height: 28px;"><iframe name="f2dec1a1718b654"
                        width="1000px" height="1000px" data-testid="fb:like Facebook Social Plugin"
                        title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true"
                        allowfullscreen="true" scrolling="no" allow="encrypted-media"
                        src="https://www.facebook.com/v11.0/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df26340ef8dbbfa%26domain%3Dae1.okweb.asia%26is_canvas%3Dfalse%26origin%3Dhttp%253A%252F%252Fae1.okweb.asia%252Ff545cfca074a%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fae1.okweb.asia%2Fa0001%2Fabout%2Fmain.php%3Fiid%3D118%26mt%3D1&amp;layout=button&amp;locale=zh_TW&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=large"
                        style="border: none; visibility: visible; width: 138px; height: 28px;"
                        class=""></iframe></span></span>
            <div class="col-group sociable social_push-set-line" style="margin:5px auto 0 auto; text-align:center">
                <ul>
                    <li class="sociablelast"><a
                            href="javascript:desc='';if(window.getSelection)desc=window.getSelection();if(document.getSelection)desc=document.getSelection();if(document.selection)desc=document.selection.createRange().text;void(open('https://twitter.com/?status='+encodeURIComponent(location.href+' ('+document.title.split('@')[0].replace(/([\s]*$)/g,'')+')'+' ')));"
                            title="twitter"><img class="sociable-hovers icons sociable-twitter" alt="twitter"
                                title="twitter" src="https://www.okweb.asia/images/spacer.gif"></a></li>
                    <li><a href="https://www.yahoo.com.tw" target="_blank" rel="noopener noreferrer"
                            title="google 商家"><img class="sociable-hovers icons sociable-google" alt="google 商家"
                                title="google 商家" src="https://www.okweb.asia/images/spacer.gif"></a></li>
                    <li><a href="javascript:desc='';if(window.getSelection)desc=window.getSelection();if(document.getSelection)desc=document.getSelection();if(document.selection)desc=document.selection.createRange().text;void(open('https://www.plurk.com/?qualifier=shares&amp;status='+encodeURIComponent(location.href+' ('+document.title.split('@')[0].replace(/([\s]*$)/g,'')+')'+' ')));"
                            title="plurk"><img class="sociable-hovers icons sociable-plurk" alt="plurk" title="plurk"
                                src="https://www.okweb.asia/images/spacer.gif"></a></li>
                    <li><a href="https://service.weibo.com/share/share.php?appkey=&amp;title=%E5%BB%96%E8%A8%98%E6%89%8B%E5%B7%A5%E9%BA%BB%E7%B3%ACzzz ddddd- dddd&amp;url=http://ae1.okweb.asia/a0001/about/main.php?iid=118&amp;mt=1&amp;pic=&amp;searchPic=true&amp;style=simple"
                            target="_blank" rel="noopener noreferrer" title="微博"><img
                                class="sociable-hovers icons sociable-weibo" alt="微博" title="微博"
                                src="https://www.okweb.asia/images/spacer.gif"></a></li>
                    <li><a href="https://line.naver.jp/R/msg/text/? %0D%0Ahttp://ae1.okweb.asia/a0001/about/main.php?iid=118&amp;mt=1"
                            target="_blank" rel="noopener noreferrer" title="Line"><img
                                class="sociable-hovers icons sociable-line" alt="Line" title="Line"
                                src="https://www.okweb.asia/images/spacer.gif"></a></li>
                    <li><a href="https://www.instagram.com/ryanliao8" target="_blank" rel="noopener noreferrer"
                            title="Instagram"><img class="sociable-hovers icons sociable-Instagram" alt="Instagram"
                                title="Instagram" src="https://www.okweb.asia/images/spacer.gif"></a></li>
                    <li><a href="https://diy.wolong.tw" target="_blank" rel="noopener noreferrer" title="wechat"><img
                                class="sociable-hovers icons sociable-wechat" alt="wechat" title="wechat"
                                src="https://www.okweb.asia/images/spacer.gif"></a></li>
                    <li><a href="mailto:ryan@wolong.com.tw" target="_blank" rel="noopener noreferrer"
                            title="E-mail"><img class="sociable-hovers icons sociable-mail" alt="E-mail" title="E-mail"
                                src="https://www.okweb.asia/images/spacer.gif"></a></li>
                </ul>
            </div>

        </div>




    </div><!--col-all結尾-->

</article>