<article class="article-column col-md-9 col-md-push-3">
    <a name="target_article" id="target_article"></a>
    <h2 class="page-title">常見問題 </h2>
    <div class="col-all intro-one-set-line">







        <!-- Start FAQ列表 -->
        <ul class="singlepagelist">


            <li class="f72-line  footable footable-loaded">
                <strong class="singlepagelist-subhead icon-faq singlepagelist-date" data-faqdate="1970/01/01">
                    <a href="main_detail.php?id=72">feghtgref</a>
                </strong>

                <p class="singlepagelist-summary">





                    regtrhgfergtfgrf

                    <a href="main_detail.php?id=72"
                        style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;text-decoration: none;">...more</a>
                </p>
                <div style="clear:both;"></div>
                <p></p>
            </li>


        </ul>
        <!-- End FAQ列表 -->


        <!-- Start FAQ列表 -->
        <ul class="singlepagelist">


            <li class="f71-line  footable footable-loaded">
                <strong class="singlepagelist-subhead icon-faq singlepagelist-date" data-faqdate="1970/01/01">
                    <a href="main_detail.php?id=71">aaaaaaaaaaaa</a>
                </strong>

                <p class="singlepagelist-summary">

                    aaaaaaaaaaaaaaaaaaaa

                    <a href="main_detail.php?id=71"
                        style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;text-decoration: none;">...more</a>
                </p>
                <div style="clear:both;"></div>
                <p></p>
            </li>


        </ul>
        <!-- End FAQ列表 -->


        <!-- Start FAQ列表 -->
        <ul class="singlepagelist">


            <li class="f70-line  footable footable-loaded">
                <strong class="singlepagelist-subhead icon-faq singlepagelist-date" data-faqdate="1970/01/01">
                    <a href="main_detail.php?id=70">fsdfazzz</a>
                </strong>

                <p class="singlepagelist-summary">

                    sdfsdf
                    <a href="main_detail.php?id=70"
                        style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;text-decoration: none;">...more</a>
                </p>
                <div style="clear:both;"></div>
                <p></p>
            </li>


        </ul>
        <!-- End FAQ列表 -->


        <!-- Start FAQ列表 -->
        <ul class="singlepagelist">


            <li class="f69-line  footable footable-loaded">
                <strong class="singlepagelist-subhead icon-faq singlepagelist-date" data-faqdate="1970/01/01">
                    <a href="main_detail.php?id=69">a</a>
                </strong>

                <p class="singlepagelist-summary">

                    b
                    <a href="main_detail.php?id=69"
                        style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;text-decoration: none;">...more</a>
                </p>
                <div style="clear:both;"></div>
                <p></p>
            </li>


        </ul>
        <!-- End FAQ列表 -->


        <!-- Start FAQ列表 -->
        <ul class="singlepagelist">


            <li class="f68-line  footable footable-loaded">
                <strong class="singlepagelist-subhead icon-faq singlepagelist-date" data-faqdate="1970/01/01">
                    <a href="main_detail.php?id=68">010202</a>
                </strong>

                <p class="singlepagelist-summary">

                    0101fdsfdsfdsf



                    &nbsp;
                    <a href="main_detail.php?id=68"
                        style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;text-decoration: none;">...more</a>
                </p>
                <div style="clear:both;"></div>
                <p></p>
            </li>


        </ul>
        <!-- End FAQ列表 -->


        <!-- Start FAQ列表 -->
        <ul class="singlepagelist">


            <li class="f67-line  footable footable-loaded">
                <strong class="singlepagelist-subhead icon-faq singlepagelist-date" data-faqdate="1970/01/01">
                    <a href="main_detail.php?id=67">fdsf</a>
                </strong>

                <p class="singlepagelist-summary">

                    dsfsfdf
                    <a href="main_detail.php?id=67"
                        style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;text-decoration: none;">...more</a>
                </p>
                <div style="clear:both;"></div>
                <p></p>
            </li>


        </ul>
        <!-- End FAQ列表 -->


        <!-- Start FAQ列表 -->
        <ul class="singlepagelist">


            <li class="f66-line  footable footable-loaded">
                <strong class="singlepagelist-subhead icon-faq singlepagelist-date" data-faqdate="1970/01/01">
                    <a href="main_detail.php?id=66">fsdf</a>
                </strong>

                <p class="singlepagelist-summary">
                </p>
                <div
                    style="float:left;width:90px;height:90px;overflow: hidden;	margin-left:2px;	margin-right:10px;margin-top:2px;border-radius:7px;-moz-border-radius:7px; ">
                    <img src="https://img.okweb.asia/a0001/images/faq/f__14467074755.jpg" width="90" height="135"
                        style=" max-height:135.33834586466;margin-top:-23px;margin-left:-1px" alt="fsdf" title="fsdf">
                </div>
                sdfdsf
                <a href="main_detail.php?id=66"
                    style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;text-decoration: none;">...more</a>
                <div style="clear:both;"></div>
                <p></p>
            </li>


        </ul>
        <!-- End FAQ列表 -->


        <!-- Start FAQ列表 -->
        <ul class="singlepagelist">


            <li class="f65-line  footable footable-loaded">
                <strong class="singlepagelist-subhead icon-faq singlepagelist-date" data-faqdate="1970/01/01">
                    <a href="main_detail.php?id=65">fsdfsdfdfdsfd</a>
                </strong>

                <p class="singlepagelist-summary">

                    zzzzzzzzzzzzzzz
                    <a href="main_detail.php?id=65"
                        style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;text-decoration: none;">...more</a>
                </p>
                <div style="clear:both;"></div>
                <p></p>
            </li>


        </ul>
        <!-- End FAQ列表 -->


        <!-- Start FAQ列表 -->
        <ul class="singlepagelist">


            <li class="f63-line  footable footable-loaded">
                <strong class="singlepagelist-subhead icon-faq singlepagelist-date" data-faqdate="1970/01/01">
                    <a href="main_detail.php?id=63">aaa</a>
                </strong>

                <p class="singlepagelist-summary">
                </p>
                <div
                    style="float:left;width:90px;height:90px;overflow: hidden;	margin-left:2px;	margin-right:10px;margin-top:2px;border-radius:7px;-moz-border-radius:7px; ">
                    <img src="https://img.okweb.asia/a0001/images/faq/f__14467056387.jpg" width="135" height="90"
                        style=" max-width:135.33834586466;margin-left:-23px;margin-top:-1px" alt="aaa" title="aaa">
                </div>


                fsdfsdnnnnnn
                <a href="main_detail.php?id=63"
                    style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;text-decoration: none;">...more</a>
                <div style="clear:both;"></div>
                <p></p>
            </li>


        </ul>
        <!-- End FAQ列表 -->


        <!-- Start FAQ列表 -->
        <ul class="singlepagelist">


            <li class="f60-line  footable footable-loaded">
                <strong class="singlepagelist-subhead icon-faq singlepagelist-date" data-faqdate="1970/01/01">
                    <a href="main_detail.php?id=60">bbccc55555</a>
                </strong>

                <p class="singlepagelist-summary">

                    父親節快到了，一張照片，感動上萬人！照片中，爸爸騎單車，載了3個寶貝，大家都驚嘆「偉大的父愛」。

                    這張照片，大太陽下，爸爸面帶微笑騎單車，後面繫上安全座椅，拉上小帳篷，一次載3個寶貝，座椅上的孩子睡著了，篷子裡的兩個女孩，邊吃餅 <a href="main_detail.php?id=60"
                        style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;text-decoration: none;">...more</a>
                </p>
                <div style="clear:both;"></div>
                <p></p>
            </li>


        </ul>
        <!-- End FAQ列表 -->


        <!-- Start FAQ列表 -->
        <ul class="singlepagelist">


            <li class="f58-line  footable footable-loaded">
                <strong class="singlepagelist-subhead icon-faq singlepagelist-date" data-faqdate="1970/01/01">
                    <a href="main_detail.php?id=58">fsdfsdffdfeeeedddddd</a>
                </strong>

                <p class="singlepagelist-summary">



                    ddddddddsfsdfdsfdsfeeee
                    <a href="main_detail.php?id=58"
                        style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;text-decoration: none;">...more</a>
                </p>
                <div style="clear:both;"></div>
                <p></p>
            </li>


        </ul>
        <!-- End FAQ列表 -->


        <!-- Start FAQ列表 -->
        <ul class="singlepagelist">


            <li class="f64-line  footable footable-loaded">
                <strong class="singlepagelist-subhead icon-faq singlepagelist-date" data-faqdate="1970/01/01">
                    <a href="main_detail.php?id=64">2525</a>
                </strong>

                <p class="singlepagelist-summary">

                    25252525
                    <a href="main_detail.php?id=64"
                        style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;text-decoration: none;">...more</a>
                </p>
                <div style="clear:both;"></div>
                <p></p>
            </li>


        </ul>
        <!-- End FAQ列表 -->









    </div><!--col-all結尾-->

</article>