<article class="article-column col-md-9 col-md-push-3">
    <a name="target_article" id="target_article"></a>
    <h2 class="page-title">Video </h2>
    <div class="col-all">






        <div class="form-group">
        </div>




        <div class="col-row">
            <div class="clearfloat"></div>
        </div><!--/col-row-->

    </div><!--col-all結尾-->
    <div class="pushSociable">
        <span class="fb-like fb_iframe_widget"
            style="width:auto !important; display:inline-block !important; vertical-align: top !important;  line-height: 1 !important; margin:0 5px 7px -8px; padding:0;"
            data-href="http://ae1.okweb.asia/a0001/movie/main.php?mt=1" data-layout="button" data-size="large"
            data-action="like" data-show-faces="false" data-share="true" fb-xfbml-state="rendered"
            fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=0&amp;href=http%3A%2F%2Fae1.okweb.asia%2Fa0001%2Fmovie%2Fmain.php%3Fmt%3D1&amp;layout=button&amp;locale=zh_TW&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=large"><span
                style="vertical-align: bottom; width: 138px; height: 28px;"><iframe name="fc1a6cb80bb7a8" width="1000px"
                    height="1000px" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin"
                    frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no"
                    allow="encrypted-media"
                    src="https://www.facebook.com/v11.0/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df70ed091a9ffa%26domain%3Dae1.okweb.asia%26is_canvas%3Dfalse%26origin%3Dhttp%253A%252F%252Fae1.okweb.asia%252Ff17116ff2338aec%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fae1.okweb.asia%2Fa0001%2Fmovie%2Fmain.php%3Fmt%3D1&amp;layout=button&amp;locale=zh_TW&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=large"
                    style="border: none; visibility: visible; width: 138px; height: 28px;"
                    class=""></iframe></span></span>
        <div class="col-group sociable social_push-set-line" style="margin:5px auto 0 auto; text-align:center">

            <ul>

                <li class="sociablelast"><a
                        href="javascript:desc='';if(window.getSelection)desc=window.getSelection();if(document.getSelection)desc=document.getSelection();if(document.selection)desc=document.selection.createRange().text;void(open('https://twitter.com/?status='+encodeURIComponent(location.href+' ('+document.title.split('@')[0].replace(/([\s]*$)/g,'')+')'+' a')));"
                        title="twitter"><img class="sociable-hovers icons sociable-twitter" alt="twitter"
                            title="twitter" src="https://www.okweb.asia/images/spacer.gif"></a></li>
                <li><a href="https://www.yahoo.com.tw" target="_blank" rel="noopener noreferrer" title="google 商家"><img
                            class="sociable-hovers icons sociable-google" alt="google 商家" title="google 商家"
                            src="https://www.okweb.asia/images/spacer.gif"></a></li>
                <li><a href="javascript:desc='';if(window.getSelection)desc=window.getSelection();if(document.getSelection)desc=document.getSelection();if(document.selection)desc=document.selection.createRange().text;void(open('https://www.plurk.com/?qualifier=shares&amp;status='+encodeURIComponent(location.href+' ('+document.title.split('@')[0].replace(/([\s]*$)/g,'')+')'+' a')));"
                        title="plurk"><img class="sociable-hovers icons sociable-plurk" alt="plurk" title="plurk"
                            src="https://www.okweb.asia/images/spacer.gif"></a></li>
                <li><a href="https://service.weibo.com/share/share.php?appkey=&amp;title=%E5%BB%96%E8%A8%98%E6%89%8B%E5%B7%A5%E9%BA%BB%E7%B3%ACzzz b- a&amp;url=http://ae1.okweb.asia/a0001/movie/main.php?mt=1&amp;pic=&amp;searchPic=true&amp;style=simple"
                        target="_blank" rel="noopener noreferrer" title="微博"><img
                            class="sociable-hovers icons sociable-weibo" alt="微博" title="微博"
                            src="https://www.okweb.asia/images/spacer.gif"></a></li>
                <li><a href="https://line.naver.jp/R/msg/text/? a%0D%0Ahttp://ae1.okweb.asia/a0001/movie/main.php?mt=1"
                        target="_blank" rel="noopener noreferrer" title="Line"><img
                            class="sociable-hovers icons sociable-line" alt="Line" title="Line"
                            src="https://www.okweb.asia/images/spacer.gif"></a></li>
                <li><a href="https://www.instagram.com/ryanliao8" target="_blank" rel="noopener noreferrer"
                        title="Instagram"><img class="sociable-hovers icons sociable-Instagram" alt="Instagram"
                            title="Instagram" src="https://www.okweb.asia/images/spacer.gif"></a></li>
                <li><a href="https://diy.wolong.tw" target="_blank" rel="noopener noreferrer" title="wechat"><img
                            class="sociable-hovers icons sociable-wechat" alt="wechat" title="wechat"
                            src="https://www.okweb.asia/images/spacer.gif"></a></li>
                <li><a href="mailto:ryan@wolong.com.tw" target="_blank" rel="noopener noreferrer" title="E-mail"><img
                            class="sociable-hovers icons sociable-mail" alt="E-mail" title="E-mail"
                            src="https://www.okweb.asia/images/spacer.gif"></a></li>
            </ul>
        </div>

    </div>
</article>