/* modal */
.modal_bg {background-color: rgba(0, 0, 0, .5);background:hsla(0, 0%, 0%, 0.5);}
/* function area */
.function_area {background-color: white;}
.func_btn {background-color: rgba(0, 0, 0, .8);color: white;}
.navbar_icon {background-color: white;}
.navbar_icon:hover {background-color: rgb(201, 201, 201);}
.navbar_dropdown {background-color: white;box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);}
.navbar_dropdown_item div:hover {background-color: rgb(201, 201, 201)}

/* fixed_btn */
.fixed_btn {background-color: rgba(0, 0, 0, .78);color: white;}
#shopping_car .shopping_car_count {background-color: rgba(255, 0, 0, .9);}

/* search model */
.search_model_content {background-color: white;}

/* menu */
.mobile_menu {background-color: white;}
.mobile_menu_group {background-color: white;}
.mobile_header {background-color: white;}
.mobile_menu_bg {background-color: rgba(0, 0, 0, .5);}
.mobile_menu_item:hover {background: rgba(145, 145, 145, 0.3);}


/* main page */
.main_title {filter: drop-shadow(2px 3px 0 rgba(0, 0, 0, .8));}
.main_subtitle {filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, .8));}
.main_wrap_btn {background-color: rgba(0, 0, 0, 0.4);border-color: black;color: white;filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.5));}
.main_wrap_btn:hover {background-color:rgba(0, 0, 0, .9);}
.wrap_dropdown {background-color:rgba(0, 0, 0, .9);color: white;}
.wrap_dropdown div {color: white;}
.wrap_dropdown div:hover {background-color:rgba(100, 100, 100, 0.5);}
/* .keep_read_btn a {background-color: rgba(0, 0, 0, rgba(0, 0, 0, .5)); color: #CDCDCD;border-color: #cdcdcd;box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.8);} */
.keep_read_btn a {background-color: rgba(0, 0, 0, rgba(0, 0, 0, .5)); color: black;border-color: black;box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.8);}
.keep_read_btn a:hover {background-color: #cdcdcd;color: #3C4144;}

/* content */
.content_img {background-color:rgba(204, 203, 203, 0.2);}


/* carousel */
.carousel {background-color: rgba(204, 203, 203, 0.2);}
.carousel-btn {color: rgba(255, 255, 255, .5);background-color: rgba(0, 0, 0, .1);}
.carousel-btn:hover,.carousel-btn:focus {color: white;background-color: rgba(0, 0, 0, .2);}

/* service */
.service title p {color: rgb(18, 18, 18);}
.service_img  {background-color: rgba(204, 203, 203, 0.2);}

/* product */
.product_item{background-color: white;}
.product_item:hover {background-color: rgba(204, 203, 203, 0.2);}
.product_img {background-color: rgba(204, 203, 203, 0.2);}
.ctrl_group {background-color:#323638;color: white;}

/* footer */
.footer {background-color: #3C4144;color: white;}
.footer_lang_btn {background-color: rgba(0, 0, 0, .8);color: white;}
.footer_lang_btn:hover{background-color: rgba(65, 65, 65, 0.8);}
.footer_inf div :hover {border-color: white;}

.copyright {background-color: #323638;}


/* ====== still don't check ==========================*/

.lang_modal {background-color: white;}
.lang_btn {background-color: rgba(230, 230, 230, 0.8);color: black;}
.lang_selecting {background-color: rgba(0, 0, 0, .8);color: white;}

/* body */
.body {background-color: white;z-index: 100;}
.body::after {background-color: white;}


.class_btn {background-color: #3C4144;color: white;}
.class_btn:hover {background-color:#677075;}
.class_selecting {background-color:#292c2e;}


.productSelect{background-color:rgba(255, 255, 255, .8) !important ;color: black !important ;}

