.col-group {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 6vh;
}

.cubetitle {
    margin: 5% 0;
}

.col-cross-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-group>div:nth-of-type(2) {
    width: calc(100%/10);
}

.col-group>div:nth-of-type(1),
.col-group>div:nth-of-type(3) {
    width: calc(100%/10*4.5);
}


.form-group {
    display: block;
}

.form-group>div>input,
.form-group,
.form-group div {
    width: 100%;
}

.form-group>div>input {
    margin-top: 1%;
    padding: 0.6em 1em;
}

.glyphicon>a {
    cursor: pointer;
    display: inline-block;
    line-height: 1.8;
    font-weight: 700;
    border: 0;
    text-align: center;
    padding: 0.6em 0 !important;
    margin-right: 0.5em;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    background-color: black;
    color: white;
    width: 100%;
}

.glyphicon>a:hover {
    background-color: #333 !important;
}

.btn {
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: 1.8;
    font-weight: 700;
    border: 0;
    text-align: center;
    padding: 0.6em 1em;
    margin-right: 0.5em;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    background-color: black;
    color: white;
}

@media (max-width:760px) {
    .col-group {
        flex-direction: column;
        justify-content: center;
    }

    .col-group>div {
        width: 100% !important;
    }

    form {
        padding: 0 !important;
    }

    .form-group>div>input {
        margin-top: 1%;
        padding: 0.6em 0;
        padding-left: 2%;
    }
}