/* main page */
.main_page {
    width: 100%;
    position: relative;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6vh;
}

.main_page_background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.main_page_content {
    display: flex;
    height: 85%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    z-index: 100;
}

.main_title {
    align-items: center;
    flex-direction: column;
    max-width: 700px;
    margin: 8vh 8vh;
}

.main_title img {
    transform: scale(110%);
}

/* ====== carousel ========= */

.mobile_carousel {
    margin: 10vh 0 3vh !important;
    width: 100% !important;
    height: 30vh !important;
}


/* ======= content ============ */

.content {
    display: flex;
}

.back_home div {
    /* padding: 0 5%; */
    font-size: 15px;
}

/* sidebar */
.sidebar {
    /* 20% */
    width: calc(100%/10*2);
}

.sidebar_list {
    margin-top: 2.5vh;
    font-size: 16px;
    padding: 0 10% 0 0;
}

.sidebar_item {
    margin-top: 5%;
    width: 100%;
    font-size: 13px;
}

.sidebar_item_title {
    position: relative;
    width: 100%;
}

.sidebar_item_title:hover {
    text-decoration: underline;
}

.sidebar_item_title:focus {
    text-decoration: underline;
    border: unset;
}

.sidebar_item_title i {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
}

.sidebar_item a:focus,
.sidebar_item a button:focus {
    text-decoration: underline;
    border: unset;
}

.sidebar_item_dropdown {
    display: none;
}

.sidebar_item_dropdown a div {
    padding: 3% 8%;
}

.sidebar_item_dropdown a:focus {
    text-decoration: underline;
    border: unset;
}

.sidebar_item_dropdown a:hover {
    text-decoration: underline;
}


.text {
    /* 80% */
    width: calc(100%/10*8);
    padding: 0 1.5%;
    /* padding: 0 10% 10vh; */
}


/* content */

/* 圖文 列表 */
.singlepagelist {
    margin: 5% 0;
}

@media (max-width:600px) {
    .singlepagelist {
        margin-bottom: 10%;
    }
    .singlepagelist-summary {
        margin-top: 8% !important;
    }
}

.singlepagelist-subhead {
    display: block;
    position: relative;
    width: 100%;
    padding:1% 0 1% 2%;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.137);
    border-radius: 0 10px 10px 0;
}

.singlepagelist-subhead:hover ,.singlepagelist a:hover {
    color: rgb(210, 0, 0);
}

.singlepagelist-summary {
    margin-top: 3%;
}

.news-line p ,.guide-line p{
    margin: 3.5% 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row div {
    width: calc(100%/2);
}

.fluid-width-video-wrapper {
    padding: 0 !important;
    height: 100%;
}

.fluid-width-video-wrapper iframe {
    width: 100%;
}

.intro-one-set-line {
    margin-left: 0%;
}


.page-title {
    padding-left: 2%;
    position: relative;
    margin-bottom: 2vh;
}

.page-title::before , .singlepagelist-subhead::before {
    content: "";
    width: 3px;
    height: 90%;
    background-color: black;
    position: absolute;
    left: 0;
    top: calc(10%);
    border-radius: 2px;
}


.big {
    font-size: 19.5px;
}

.col-all {
    margin-top: 5vh;
}


.col-group {
    margin: 2vh 0 5vh;
}

.col-group p {
    margin: 1vh 0 5vh;
}

.col-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-row .p-single {
    width: calc(100%/3);
    margin-bottom: 3vh;
}

.p-tit,.p-txt {
    margin: 1% 0;
    padding: 0 3%;
}

.p-tit {
    font-size: 16.8px;
    font-weight: 900;
}
.p-txt {
    font-size: 13px;
}

.product-one-id {
    width: 100% !important;
}

.pagenav-wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 2vh 0;
}
.pagenav li {
    display: inline;
    width: 40px;
    height: 40px;
}

.panel {
    margin: 3vh 0;
}

.panel-body {
    margin-top: 3vh;
}


.form-group {
    display: flex;
    justify-content: center;
    margin: 1% 0 ;
    padding-top: 1.2%;
    /* align-items: center; */
}

.form-group input{
    padding: 1.2% 2%;
    background-color: #fcfcfc;
    border: 1px solid #00000033;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: #333;
}

.form-group textarea:focus {
    -webkit-box-shadow: 0 0 2px 1px black;
    -moz-box-shadow: 0 0 2px 1px black;
    box-shadow: 0 0 2px 1px black;
    border: 1px solid black;
}

.form-group textarea {
    padding: 1.2% 2%;
    background-color: #fcfcfc;
    border: 1px solid #00000033;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: #333;
}
.form-group input:focus {
    -webkit-box-shadow: 0 0 2px 1px black;
    -moz-box-shadow: 0 0 2px 1px black;
    box-shadow: 0 0 2px 1px black;
    border: 1px solid black;
}

.form-group .col-right1{
    flex-grow: 1;
}

.form-group .col-left1 {
    width: 10%;
    text-align: right;
    padding: 0 2%;
}

.form-group .col-right1 input,.form-group .col-right1 textarea {
    width: 100%;
}

.panel-body form .form-group :last-child:last-of-type {
    width: fit-content;
}

.table-wrapper table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table-wrapper table thead,.table-wrapper tfoot {
    background-color: black;
    color :white;
    font-size: 15px;
    text-align: left;
}

.table-wrapper table thead th {
    padding: 0.5% 1.5%;
}

.table-wrapper table tbody tr {
    border: 1px solid rgba(0,0,0,.2)
}

.table-wrapper table tbody :hover  {
    background-color: rgba(0,0,0,.2);
}
.table-wrapper table tbody tr :hover {
    background-color: unset;
}
.table-wrapper table tbody tr td {
    padding: 1.5% 1.5%;
}

.table-subject {
    margin: 2% 0;
}

@media (max-width:420px) {
    .right form table tbody {
        width: 100%;
    }

    .right form table tbody tr {
        display: flex !important; 
        flex-wrap: wrap;
        flex-direction: unset;
        align-items: center;
    }
    .right form table {
        float: unset;
        width: 100%;
    }
    
    .right form table tbody tr td {
        width:calc(100%/2);
        /* text-align: center; */
    }
    .right form table tbody tr td:first-child {
        margin-top: 1vh;
        width: 100% !important;
    }

    .right form table tbody tr td:nth-child(2) {
        width: calc(100%/4*3);
    }
    .right form table tbody tr td:nth-child(2) input {
        width: calc(100%/4*3);
    }

    .right form table tbody tr td:last-child {
        text-align: center;
        width: calc(100%/4);
    }    
}


@media (max-width:580px) {
    .col-group table tbody tr {
        display: flex;
        flex-direction: column;
    }
    
    .right form table tbody tr {
        display: unset;
    }
}



@media (max-width:785px) {
    .col-row .p-single {
        width: calc(100%/2);
    }
}

.p-single {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* rwd */

@media (max-width:991px) {
    .content {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 3vh;
    }

    .sidebar_list {
        display: none;
    }

    .text {
        width: 100%;
        padding: 0;
    }

    .mobile_carousel {
        display: block;
    }

    .main_page {
        display: none;
    }
}

@media (min-width:991px) {
    .mobile_carousel {
        display: none;
    }

    .main_page {
        display: block;
    }
}

@media (max-width:780px) {
    .main_img {
        height: 55vh;
    }
}


@media (max-width:450px) {
    .main_page {
        margin-bottom: 5vh;
    }

    .main_title {
        margin: 1.5vw 1.5vw !important;
    }

    .main_title img {
        transform: scale(90%) !important;
    }
}

@media (max-width:700px) {
    .main_title {
        margin: 5vh 5vh !important;
    }
}


@media (max-width:991px) {
    .main_page {
        margin-top: 10vh;
        /* height: 75vh; */
    }

    .main_title img {
        transform: scale(120%);
    }
}

@media (max-width:1100px) {
    .main_title img {
        transform: scale(105%);
    }
}

@media (max-width:550px) {
    .body {
        padding-bottom: 10vh;
    }
}