/* main page */
.main_page {
    width: 100%;
    position: relative;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6vh;
}

.main_page_background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.main_page_content {
    display: flex;
    height: 85%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    z-index: 100;
}

.main_title {    
    align-items: center;
    flex-direction: column;
    max-width: 700px;
    margin: 8vh 8vh;
}

.main_title img {
    transform: scale(110%);
}

/* ====== carousel ========= */

.mobile_carousel {
    margin: 10vh 0 3vh !important;
    height: 30vh !important;
}


/* ======= content ============ */

.content {
    display: flex;
}

.back_home div {
    /* padding: 0 5%; */
    font-size: 15px;
}
/* sidebar */
.sidebar {
    /* 20% */
    width: calc(100%/10*2);
}
.sidebar_list {
    margin-top: 2.5vh;
    font-size: 16px;
    padding: 0 10% 0 0;
}
.sidebar_item {
    margin-top: 5%;
    width: 100%;
    font-size: 13px;
}
.sidebar_item_title {
    position: relative;
    width: 100%;
}
.sidebar_item_title:hover {
    text-decoration: underline;
}
.sidebar_item_title:focus {
    text-decoration: underline;
    border: unset;
}
.sidebar_item_title i {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
}
.sidebar_item a:focus ,.sidebar_item a button:focus {
    text-decoration: underline;
    border: unset;
}
.sidebar_item_dropdown {
    display: none;
}
.sidebar_item_dropdown a div {
    padding:3% 8%;
}
.sidebar_item_dropdown a:focus {
    text-decoration: underline;
    border: unset;
}
.sidebar_item_dropdown a:hover {
    text-decoration: underline;
}


.text {
    /* 80% */
    width: calc(100%/10*8);
    padding: 0 1.5%;
    /* padding: 0 10% 10vh; */
}



/* rwd */

@media (max-width:991px) {
    .content {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 3vh;
    }

    .sidebar_list {
        display: none;
    }
    .text {
        width: 100%;
        padding: 0;
    }

    .mobile_carousel {
        display: block;
    }
    
    .main_page {
        display: none;
    }
}
@media (min-width:991px) {
    .mobile_carousel {
        display: none ;
    }
    .main_page {
        display: block;
    }
}

@media (max-width:780px) {
    .main_img {
        height: 55vh;
    }
}


@media (max-width:450px) {
    .main_page {
        margin-bottom: 5vh;
    }

    .main_title {
        margin: 1.5vw 1.5vw !important;
    }
    .main_title img {
        transform: scale(90%) !important;
    }
}

@media (max-width:700px) {
    .main_title {
        margin: 5vh 5vh !important;
    }
}


@media (max-width:991px) {
    .main_page {
        margin-top: 10vh;
        /* height: 75vh; */
    }

    .main_title img {
        transform: scale(120%);
    }
}
@media (max-width:1100px) {
    .main_title img {
        transform: scale(105%);
    }
}

