/* product */
@media (max-width:780px) {
    .main_img {
        height: 55vh;
    }
}
@media (max-width:701px) {
    .product_group {
        flex-direction: column;
    }
    .product_imgHolder,.product_content,.product_information {
        width: 100%;
        margin-bottom: 15% !important;
    }
    .product_information_content {
        padding-right: 0;
    }

    .product_small_img {
        height: 15vh;
    }

    .product_content {
        padding: 0;
    }
}

@media (max-width:500px) {
    .product_small_img {
        height: 13vh !important;
    }
}

@media (max-width:430px) {
    .product_small_img {
        height: 10vh !important;
        padding: 0 0.5px;
    }
}

@media (max-width:350px) {
    .product_small_img {
        width: calc((100%)/4.3);
    }
}


/* contact */
@media (max-width:470px) {
    form {
        padding:  0px;
    }

    form div {
        text-align: left;
        width: 100%;
    }

    .question_group {
        flex-direction: column;
        justify-content: flex-start;
        margin: 5% 0 ;
    }

    .question_group input {
        width: 85%;
    }
    .question_group textarea {
        width: 100%;
    }
}


/* exhibit */
@media (max-width:760px) {
    .exhibition_article_left {
        flex-direction: column;
    }
    .exhibition_article_left img{
        width: 100%;
    }

    .exhibition_article_right {
        flex-direction: column;
    }
    .exhibition_article_right img{
        width: 100%;
    }

    .exhibit_title {
        margin-bottom: 4%;
    }
}

/* header control ( pc or mobile )*/
@media (min-width:991px) {
    .mobile_menu {
        display: none;
    }
}
@media (max-width:991px) {
    .function_area {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .text {
        width: 100%;
    }

    #fixed_search {
        display: none;
    }
}

/* footer rounded control */
@media (max-width:550px) {
    .body::after {
        display: none;
    }
    .footer_logo_side {
        margin-top: 0 !important;
    }
}

/* fixed menu */

@media (max-width:680px) {
    .fixed_btn {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    #shopping_car .shopping_car_count {
        width: 20px;
        height: 20px;
        font-size: 13px;
    }
}

/* search_btn */

@media (max-width:990px) {
    .search_model {
        padding: 0 2%;
        width: 60%;
        right: 2%;
        top: 12vh;
        box-shadow: unset;
    }
}

@media (max-width:450px) { 
    .search_model {
        width: 90% !important;
    }
}

/* footer */

@media (max-width:500px) {
    .footer_fastLink {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-content: center;
    }

    .fastLink_row {
        width: calc(100%/2);
        justify-content: center;
        align-items: center;
        margin-bottom: 5vh;
    }
}
@media (max-width:900px) {
    .footer_main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_logo_side {
        margin-top: 10vh
    }

    .footer_content {
        width: 100%;
    }

    .footer_icons {
        margin: 0 0;
    }

}

@media (max-width:450px) {
    .main_page {
        margin-bottom: 5vh;
    }

    .main_title {
        margin: 1.5vw 1.5vw !important;
    }
    .main_title img {
        transform: scale(90%) !important;
    }
}

@media (max-width:700px) {
    .main_title {
        margin: 5vh 5vh !important;
    }
}


@media (max-width:850px) {
    .content_img  {
        height: 65vw;
    }
}


@media (max-width:991px) {
    .main_title {
        /* margin-top: 10vh; */
    }

    .main_page {
        margin-top: 10vh;
        /* height: 75vh; */
    }

    .main_title img {
        transform: scale(120%);
    }
}
@media (max-width:1100px) {
    .main_title img {
        transform: scale(105%);
    }
}

